<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>API Crawling Result</title>
</head>
<body>
<h1>Plant Data</h1>
<button onclick="location.href='/'">메인 화면으로 돌아가기</button>
<script>

</script>
<ul>
    <li th:each="plantInfo : ${plantDataList}">
        <div th:text="${plantInfo.cntntsNo != null ? 'cntntsNo : '+ plantInfo.cntntsNo : 'cntntsNo 값이 null입니다.'}"></div> <!-- 각 PlantData의 name을 표시 -->
        <!-- 필요한 다른 데이터도 이와 같은 방식으로 표시할 수 있습니다 -->
        <div th:text="${plantInfo.cntntsSj != null ? 'cntntsSj : ' + plantInfo.cntntsSj : 'cntntsSj 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.plntbneNm != null ? 'plntbneNm : ' + plantInfo.plntbneNm : 'plntbneNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.plntzrNm != null ? 'plntzrNm : ' + plantInfo.plntzrNm : 'plntzrNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.distbNm != null ? 'distbNm : ' + plantInfo.distbNm : 'distbNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.fmlNm != null ? 'fmlNm : ' + plantInfo.fmlNm : 'fmlNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.orgplceInfo != null ? 'orgplceInfo : ' + plantInfo.orgplceInfo : 'orgplceInfo 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.adviseInfo != null ? 'adviseInfo : ' + plantInfo.adviseInfo : 'adviseInfo 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.growthHgInfo != null ? 'growthHgInfo : ' + plantInfo.growthHgInfo : 'growthHgInfo 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.growthAraInfo != null ? 'growthAraInfo : ' + plantInfo.growthAraInfo : 'growthAraInfo 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.smellCode != null ? 'smellCode : ' + plantInfo.smellCode : 'smellCode 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.toxctyInfo != null ? 'toxctyInfo : ' + plantInfo.toxctyInfo : 'toxctyInfo 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.managelevelCode != null ? 'managelevelCode : ' + plantInfo.managelevelCode : 'managelevelCode 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.grwtveCode != null ? 'grwtveCode : ' + plantInfo.grwtveCode : 'grwtveCode 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.grwhTpCode != null ? 'grwhTpCode : ' + plantInfo.grwhTpCode : 'grwhTpCode 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.winterLwetTpCode != null ? 'winterLwetTpCode : ' + plantInfo.winterLwetTpCode : 'winterLwetTpCode 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.hdCode != null ? 'hdCode : ' + plantInfo.hdCode : 'hdCode 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.frtlzrInfo != null ? 'frtlzrInfo : ' + plantInfo.frtlzrInfo : 'frtlzrInfo 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.watercycleSprngCode != null ? 'watercycleSprngCode : ' + plantInfo.watercycleSprngCode : 'watercycleSprngCode 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.watercycleSummerCode != null ? 'watercycleSummerCode : ' + plantInfo.watercycleSummerCode : 'watercycleSummerCode 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.watercycleAutumnCode != null ? 'watercycleAutumnCode : ' + plantInfo.watercycleAutumnCode : 'watercycleAutumnCode 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.watercycleWinterCode != null ? 'watercycleWinterCode : ' + plantInfo.watercycleWinterCode : 'watercycleWinterCode 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.speclmanageInfo != null ? 'speclmanageInfo : ' + plantInfo.speclmanageInfo : 'speclmanageInfo 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.fncltyInfo != null ? 'fncltyInfo : ' + plantInfo.fncltyInfo : 'fncltyInfo 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.managedemanddoCode != null ? 'managedemanddoCode : ' + plantInfo.managedemanddoCode : 'managedemanddoCode 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.clCodeNm != null ? 'clCodeNm : ' + plantInfo.clCodeNm : 'clCodeNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.grwhstleCodeNm != null ? 'grwhstleCodeNm : ' + plantInfo.grwhstleCodeNm : 'grwhstleCodeNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.indoorpsncpacompositionCodeNm != null ? 'indoorpsncpacompositionCodeNm : ' + plantInfo.indoorpsncpacompositionCodeNm : 'indoorpsncpacompositionCodeNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.eclgyCodeNm != null ? 'eclgyCodeNm : ' + plantInfo.eclgyCodeNm : 'eclgyCodeNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.lefmrkCodeNm != null ? 'lefmrkCodeNm : ' + plantInfo.lefmrkCodeNm : 'lefmrkCodeNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.lefcolrCodeNm != null ? 'lefcolrCodeNm : ' + plantInfo.lefcolrCodeNm : 'lefcolrCodeNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.ignSeasonCodeNm != null ? 'ignSeasonCodeNm : ' + plantInfo.ignSeasonCodeNm : 'ignSeasonCodeNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.flclrCodeNm != null ? 'flclrCodeNm : ' + plantInfo.flclrCodeNm : 'flclrCodeNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.fmldeSeasonCodeNm != null ? 'fmldeSeasonCodeNm : ' + plantInfo.fmldeSeasonCodeNm : 'fmldeSeasonCodeNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.fmldecolrCodeNm != null ? 'fmldecolrCodeNm : ' + plantInfo.fmldecolrCodeNm : 'fmldecolrCodeNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.prpgtmthCodeNm != null ? 'prpgtmthCodeNm : ' + plantInfo.prpgtmthCodeNm : 'prpgtmthCodeNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.lighttdemanddoCodeNm != null ? 'lighttdemanddoCodeNm : ' + plantInfo.lighttdemanddoCodeNm : 'lighttdemanddoCodeNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.postngplaceCodeNm != null ? 'postngplaceCodeNm : ' + plantInfo.postngplaceCodeNm : 'postngplaceCodeNm 값이 null입니다.'}"></div>
        <div th:text="${plantInfo.dlthtsCodeNm != null ? 'dlthtsCodeNm : ' + plantInfo.dlthtsCodeNm : 'dlthtsCodeNm 값이 null입니다.'}"></div>
        <br>
    </li>
</ul>
</body>
</html>